*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(/img/Thankyou.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 520px;
  margin-top: 610px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
