.table {
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: 175px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #8b0000;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 15px;
}

.table tbody tr {
    border-bottom: 1px solid #8b0000;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #8b0000;
}

h1 {
    text-align: center;
}

.ss {
    justify-content: center;
    margin-left: 450px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid black;
    background: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 90px;
    border-radius: 30px;
    margin-left: 840px;

}
#myBtn:hover {
    background: rgba(247, 237, 237, 0.89);
    color: rgb(5, 5, 5);
}
